.welcome {
  height: 100vh;
  background-color: var(--bg-primary);
}

.welcome h1,
.welcome p {
  color: var(--text-white);
}

.welcome p {
  font-size: var(--fs-large);
  margin-bottom: var(--spacing-medium);
}

.welcome p:last-of-type {
  margin-bottom: var(--spacing-xl);
}

.welcome p span {
  color: var(--text-secondary);
}

.welcome img {
  height: 24px;
  width: auto;

  margin-left: var(--spacing-medium);

  position: relative;
  top: var(--spacing-tiny);
}

.welcome .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome a {
  color: var(--text-light);
  background-color: var(--button-color);

  font-size: var(--fs-medium);
  text-transform: uppercase;
  text-align: center;

  padding: var(--spacing-medium);
  border: 2px solid var(--button-color);
  border-radius: 5px;

  width: 260px;
}

.welcome a:hover {
  background-color: transparent;
}

@media (max-width: 768px) {
  .welcome h1 {
    font-size: 2.5rem;
  }

  .welcome p:last-of-type {
    margin-bottom: 0;
  }

  .welcome img {
    display: block;

    margin-top: var(--spacing-medium);
    margin-left: var(--spacing-small);
  }

  .welcome a {
    display: none;
  }

  .welcome {
    padding-bottom: 4rem;
  }
}

.items {
  padding: 16px 0;
}

.items h2 {
  text-align: center;
  margin-bottom: 16px;
}

.items .item {
  width: calc(100% / 3);

  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.item .content {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 16px 16px 4px 16px;

  height: 100%;
}

.items h3 {
  color: var(--text-primary);
  font-weight: 400;
  margin-bottom: 15px;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
}

.items .marks {
  margin-bottom: 15px;
}
.items .material-symbols-outlined {
  font-size: 16px;
  vertical-align: middle;
  margin: 15px 0;
}

.items .decoration-line {
  height: 4px;
  background-color: var(--button-color);
  border-radius: 4px;
  margin-top: 10px;
}

.decoration-mark {
  background-color: var(--text-secondary);
}

@media (max-width: 992px) {
  .items .item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .items .item {
    width: 100%;
  }
}

.about-itschool p {
  margin-bottom: 2rem;
}

.about-itschool {
  background-color: var(--bg-secondary);
  text-align: center;
  padding: 16px;
}

.about-itschool .content {
  border: none;
}

.about-itschool img {
  width: 100%;
}

.about-itschool .item {
  width: calc(100% / 3);

  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

@media (max-width: 992px) {
  .about-itschool .item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .about-itschool .item {
    width: 100%;
  }
}

.partners h2 {
  text-align: center;
  margin: 16px 0;
}

.partners .container {
  margin: auto;
  max-width: 1200px;
}

.partners .items-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 var(--spacing-xl);
}

.partners img {
  width: 100%;
  height: auto;

  filter: grayscale(100%);
}

.partners img:hover {
  filter: grayscale(0);
}

.partners .item {
  width: 100px;
  margin-right: 2.625rem;
  margin-left: 2.625rem;
  margin-bottom: 1rem;
}
